<head>
    <title>rpiPlayer</title>
    <link href="video.js/video-js.css" rel="stylesheet">
    <style>
        .videoWrapper {
          width: 100%;
          height: 100%;
        }

        .video-js {
            width: 100%;
            height: 100%;
        }
        .container {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .sidebar {
            width: 210px;
            color: white;
            background-color: #1e232c;
            overflow:hidden;
            overflow-y: scroll;
        }
        ::-webkit-scrollbar {
            display: block;
            width: 10px;
            background: #232934;
            /* background: transparent; make scrollbar transparent */
        }
        ::-webkit-scrollbar-thumb {
            background: #6d7e98;
        }
        .btn-group button {
            background-color: #1e232c;
            border: none;
            border-bottom: 1px solid #15181f;
            border-right: 1px solid #15181f;
            border-top: 1px solid #232934;
            border-left: 1px solid #1e232c;
            color: white;
            padding: 15px 42px 15px 32px;
            text-align: left;
            text-decoration: none;
            display: block;
            width: 100%;
            font-size: 14px;
        }
        .btn-group button:hover {
            background-color: #6d7e98;
            color: black;
        }
    </style>
</head>
<body style="background-color: black">
    <div class="container">
        <div style ="display:flex; justify-content:center; align-items:center; background-color: black" class="videoWrapper" id="video-container">
            <p id='loading-text' style="color: white">Loading Videos...</p>
        </div>
        <div class="sidebar">
            <div class="btn-group" id="btn-group"></div>
        </div>

    </div>

    <script src="video.js/video.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
        const socket = io()

        let playerLoadID = 0;

        socket.emit('connect', function () {
            console.log('connected to server')
        })

        socket.on('video:renderlist', function(list) {
            document.querySelector('#btn-group').innerHTML = ''
            list.forEach(function (item) {
                const newButton = document.createElement('span')
                newButton.innerHTML = `<button onclick=loadVideo(${item.id})> ${item.file} </button>`
                document.querySelector('#btn-group').append(newButton)
            })
            document.querySelector('#loading-text').innerHTML = 'Select a video.'
        })

        socket.on('todo:add', function (file) {            
            document.querySelector('#video-container').innerHTML = `<video id="video-${playerLoadID}" class="video-js vjs-default-skin vjs-big-play-centered" controls autoplay preload="auto"><source id="mp4" type="video/mp4"></video>`
            let video = document.getElementById(`video-${playerLoadID}`)
            const mp4 = document.getElementById('mp4')
            mp4.src = file;
            video.load()
            videojs(`video-${playerLoadID}`, {}, function(){
            })
            playerLoadID++
            
        })

        loadVideo = function (id) {
            socket.emit('video:load', id)
        }
    </script>

</body>